In [3]:
import os,sys
currentdir = os.path.abspath(os.getcwd())
currentdir

'/Users/francoferrero/Documents/Repos/xtream-fferrero/challenge_4'

Keep in mind that you may need to re-connect for some changes to show up

In [16]:
from os.path import join
import sqlite3

sqlt3_connection = sqlite3.connect(join(currentdir,'mock_database','zap_inc.db'))

In [17]:
cursor = sqlt3_connection.cursor()

In [18]:
for row in cursor.execute('''SELECT * FROM models'''):
    print(row)

(1, 'mock_bad_model', 28.32, 0.1, '2022-01-01', None)
(2, 'test_model_1', 19.37910851093617, -1.0598739410677962, '2024-01-18', None)
(3, 'test_model_1', 19.37910851093617, -1.0598739410677962, '2024-01-18', None)

In [19]:
for row in cursor.execute('''SELECT COUNT(*) FROM forecasts LIMIT 10'''):
    print(row)

(730,)

In [20]:
for row in cursor.execute('''SELECT * FROM forecasts LIMIT 10'''):
    print(row)

(1, '2024-01-18', '2019-01-01 00:00:00', 862928.8681393821)
(1, '2024-01-18', '2019-01-02 00:00:00', 923764.1002358953)
(1, '2024-01-18', '2019-01-03 00:00:00', 1075466.815021255)
(1, '2024-01-18', '2019-01-04 00:00:00', 1038062.4061715251)
(1, '2024-01-18', '2019-01-05 00:00:00', 917601.4299625709)
(1, '2024-01-18', '2019-01-06 00:00:00', 793743.1614539335)
(1, '2024-01-18', '2019-01-07 00:00:00', 931770.8464397206)
(1, '2024-01-18', '2019-01-08 00:00:00', 630354.2117076544)
(1, '2024-01-18', '2019-01-09 00:00:00', 967778.6704403647)
(1, '2024-01-18', '2019-01-10 00:00:00', 884504.7980382419)

In [21]:
for row in cursor.execute('''SELECT * FROM alarms LIMIT 10'''):
    print(row)

(1, '2024-01-18', 'high_values', 'There are 43 values over 1000000')
(1, '2024-01-18', 'low_values', 'There are 41 values under 700000')
(2, '2024-01-18', 'high_values', 'There are 43 values over 1000000')
(2, '2024-01-18', 'low_values', 'There are 41 values under 700000')